<div id="<%= dom_id blog_post %>" class="col blog_post">
  <a href="<%= blog_post.link %>">
    <div class="title-holder row">
      <%= blog_post.title %>
    </div>
    </br>
    <div class="image-holder row">
      <%= image_tag blog_post.image_urls.sample, class: "img-fluid" %>
    </div>
  </a>
</div>
