<footer class="bg-white border-top p-3 text-muted small">
    <div class="container">
    <div class="row align-items-center justify-content-between">
        <div>
            <span class="navbar-brand liy-navbar-brand mr-2 mb-0">
                <%= image_tag "muted-marunimitsukashiwa.png", class: "navbar-brand-img" %>
                <strong>Liyicky</strong>
            </span>
            <span>Copyright © <script>document.write(new Date().getFullYear())</script>.</span>
        </div>
        <div>
            <a class="text-dark ml-1" target="_blank" href="https://github.com/liyicky"><i class="fab fa-github"></i> Owner: Jason Chealdyn</a>
            <a class="text-dark ml-1" target="_blank" href="https://github.com/wowthemesnet/mundana-theme-jekyll"><i class="fab fa-github"></i> Design: Mundana by Sal</a>
        </div>
    </div>
    </div>
</footer>