<li class="nav-item">
    <%= link_to "Home", root_path, class: "nav-link" %>
</li>
<li class="nav-item">
    <%= link_to "Contact", contact_path, class: "nav-link" %>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://github.com/liyicky">Github</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://twitter.com/liyicky">Twitter</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://jasoncheladyn.com">Japanese Life</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.buymeacoffee.com/liyicky">Buy me a coffee <i class="fa fa-coffee text-danger"></i></a>
</li>