<div class="row remove-site-content-margin">
    <div class="col-md-6">
        <div class="card border-0 mb-4 box-shadow">
            <div class="poster">
                <%= image_tag("portrait.jpg") %>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card border-0 mb-4 box-shadow">
            <h4 class="h4 font-weight-bold spanborder"><span>I wanna talk to you</span></h4>
            <p class="excerpt">
                Hey, I'm <strong>Jason Cheladyn</strong> and I love to build. I've been coding for 10 years and I'm always looking for new projects.
                If you wanna ask something, work together, or just wanna be pals, reach out.
            </p>
            <ol class="list-featured">
                <li class="mb-4">
                    <span>
                        <h6 class="font-weight-bold">
                            <a href="mailto:jason@liyicky.com" class="text-dark">Email Me</a><p>@ jason@liyicky.com</p>
                        </h6>
                    </span>
                </li>
                <li class="mb-4">
                    <span>
                        <h6 class="font-weight-bold">
                            <a href="https://twitter.com/liyicky" class="text-dark">Twitter Me</a>
                        </h6>
                    </span>
                </li>
                <li class="mb-4">
                    <span>
                        <h6 class="font-weight-bold">
                            <p class="text-dark">Call Me, why not</p>
                            <p class="text-muted small">080-7532-2741</p>
                        </h6>
                    </span>
                </li>
            </ol> 
        </div>
    </div>
</div>