@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

$white: white;
$black: black;
$green: green;

.navbar {
        margin-bottom: 0;
	background: $white;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	height: 55px;
}
.shrink {
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	height: 55px;
}
.slide {
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	padding-top: 150px;
}
main {
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	padding-top: 50px;
}
body {
        background: $white;
        color: $black;
        font-family: 'Merriweather', sans-serif;
}
h1,
h2 {
        font-weight: bold;
}
p {
        font-size: 16px;
        color: $black;
}
a:visited {
        color: $black;
}
//.jumbotron {
        //background: #0048CD;
        //color: $black;
        //text-align: center;
        //p {
                //color: $black;
                //font-size: 26px;
        //}
//}
.link {
        color: $black;
}
.btn-primary {
        color: $black;
        border-color: $black;
        margin-bottom: 5px;
}
.btn-sm {
        background-color: $black;
        display: inline-block;
}
img,
video,
audio {
        margin-top: 20px;
        max-width: 80%;
}
caption {

        float: left;
        clear: both;

}

.liy-brand {
	color: $green;
	font-size: 32px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.liy-brand-shrink {
	color: $green;
	font-size: 16px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
