<div class="container liy-post-container">
  <a href="<%= post_path(post) %>">
  <div class="row">
    <div class="col-md-auto">
      <%= image_tag post.main_image, class: "liy-main-image" %>
    </div>
    <div class="col col-lg-8">
      <h4><%= post.title %></h1>
      <p><%= post.description %></p>
      <hr class="my-4">
      <p class="liy-post-author">Jason Cheladyn</p> 
    </div>
  </div>
  </a>
</div>
