@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    background-color: #191A19 !important;
    color: #D8E9A8 !important;
  }

  nav {
      background-color: #191A19 !important;

      a {
        color: #D8E9A8 !important;
      }
      
  }

  #blog_post {
    background-color: #1E5128 !important;
    color: #D8E9A8 !important;
    margin: auto;
  }

  /* unvisited link */
  a:link {
    color: #D8E9A8 !important;
    text-decoration: none;
  }

  /* visited link */
  a:visited {
    color: #4E9F3D;
    text-decoration: none;
  }

  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  